    <footer class="block w-full px-4 py-2 mx-auto text-black bg-white lg:px-8 lg:py-4 fixed bottom-0">
      <div class="container flex items-center mx-auto">
        <p class="text-center w-full">© Devon CRM App. All rights reserved.</p>
      </div>
    </footer>

    <script>
      document.getElementById('hamburger-menu').addEventListener('click', function() {
        document.getElementById('hamburger-menu-content').classList.toggle('hidden');
      });
    </script>
  </body>
</html>